.hero-conatiner {
  display: grid;
  padding: 0 5.5rem;
  padding-top: 3rem;
  column-gap: 0rem;
  padding-bottom: 8rem;
  background-color: #eafaf1;
}
h1 {
  font-size: 5rem;
  color: #333;
  margin-bottom: 1.2rem;
  line-height: 1.05;
  font-weight: 600;
  margin-top: 3rem;
}
.desciption {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 8rem;
}
