.header-container {
  display: grid;
  grid-template-columns: 60fr 30fr;
  padding: 1rem 4.8rem;
  background-color: #eafaf1;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-link {
  font-size: 1.6rem;
  margin-left: 3rem;
  color: black;
  text-decoration: none;
}
.logo1 {
  font-size: 7.2rem;
  text-transform: capitalize;
}
.logo2 {
  font-size: 3.5rem;
  text-transform: capitalize;
}
